p{
    background-color: aqua;
    font-size: 12px;
}
strong{
    color: red;
}
div{
    background-color: rosybrown;
    margin: 10px;
    border-bottom: 2px solid black;
    width: 100px;
    height: 100px;
    position: absolute;
    /*top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
}
#a1{
    background-color: blue;
}
#a2{
    background-color: chartreuse;
    top: 100px;
    left: 100px;
}
#a3{
    background-color: crimson;
}
#a5{
    background-color: darkgreen;
}