body{
    background-color: #ccc;
}
main{
    margin: 0 auto;
    background:#fff;
    /*height: 800px;*/
    width: 1200px;
    display: grid;
    grid-template-columns: 200px 800px 200px;
    grid-template-rows: 200px 600px 200px;
    /*grid-auto-rows: 400px;*/
}
main > *{
    background-color: antiquewhite;
}
header{
    background-color: lightblue;
    grid-column-start: 1;
    grid-column-end: span(2);
    /* grid-column: 1/4; */
}