body{
    margin:0px
}
#main{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#header-bar{
    height: 8px;
    background-color: #252627;
}
#logo2{
    padding-top: 40px;
}
#header{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #888;
}
#navigation{
    padding-top: 15px;
}
#navigation a{
    text-decoration: none;
    text-transform: uppercase;
}
#news{
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #888;
}
#news1 p{
    text-align: left;
}
#news2 p{
    text-align: left;
}
#circles{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}
#circle1{
    background-color:  #5094d8;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0.7;
}
#circle1:hover{
    opacity: 0.85;
}
#circle2{
    background-color:  #5094d8;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0.7;
    margin-left: -40px;
}
#circle2:hover{
    opacity: 0.85;
}
#circle3{
    background-color:  #5094d8;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0.7;
    margin-left: -40px;
}
#circle3:hover{
    opacity: 0.85;
}
#helps{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
}
#help1{
    border-bottom: 1px solid #888;
}
#footer{
    background-color: #252627;
    background-image: url(zabek.jpg);
    background-repeat: repeat-x;
    height: 200px;
    margin-top: 40px;
    color:#eee;
    padding: 40px;
}