body{
    margin: 0px;
    border: 0px;

}

#main{
    left: 25%;
    right: 25%;
    background-color: black;
}
#baner{
    background-color: blue;
}
#middle_content{
    background-color: blueviolet;
}
#m_left{
    background-color: brown;
}
#m_middle{
    background-color: chartreuse;
}
#m_right{
    bac
}
#footer