body{
    width: 100%;
    height: 100%;
}

#baner{
    background-color: blue;
    width: 50%;
}
#middle_content{
    background-color: blueviolet;
    width: 50%;
}
#m_left{
    background-color: brown;
    width: 33%;
    align:left;
}
#m_middle{
    background-color: chartreuse;
    width: 33%;
    align:left;
}
#m_right{
    background-color: #aaffaa;
    width: 33%;
}
#footer{
    background-color: cornflowerblue;
    width: 50%;
}