body{
    width: 100%;
    height: 1500px;
    border: 0px;
    margin:0px;
    padding:0px;
}
#all{
    margin-left: 25%;
    width: 50%;
    height: 100px;
}
#baner{
    background-color: blue;
    width: 100%;
    height: 375px;
}
#middle_content{
    background-color: blueviolet;
    width: 100%;
    height:  375px;
}
#m_left{
    background-color: brown;
    width: 33.3%;
    float: left;
}
#m_middle{
    background-color: chartreuse;
    width: 33.3%;
    float: left;
}
#m_right{
    background-color: #aaffaa;
    position: relative;
    width: 33.3%;
    float: left;
}
#footer{
    background-color: cornflowerblue;
    width: 100%;
    height:  375px;
}