body{
    margin: 0px;
    border: 0px;
    max-width: 500px;
    height:100%;
    margin:auto;
    font-family: Arial, sans-serif;
    color: white;
}
#menus{
    background-color: #252a3a;
    font-size: 16px;
}
#menus a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
#compose{
    background-color: #1B98F8;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 16px;
    margin:auto;
    border-radius: 20px;
}