body{
    background-color: #fff;
    background-image: url(/lab3/layer51/tlo.png);
    width: 1200px;
    height: 900px;
    background-repeat: no-repeat;
    background-position:center center;
}
#logo{
height: ;
}